{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link href="static/css/jquery.steps.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="example-vertical">
    <h3>运行monkey命令</h3>
    <section>
        <p>Try the keyboard navigation by clicking arrow left or right!</p>
    </section>
    <h3>上传测试结果</h3>
    <section>
        <form>
            <input type="file" />
        </form>
        <p></p>
    </section>
    <h3></h3>
    <section>
        <p>The next and previous buttons help you to navigate through your content.</p>
    </section>
    <h3></h3>
    <section>
        <p>The next and previous buttons help you to navigate through your content.</p>
    </section>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script src="static/js/jquery.steps.js"></script>

<script type="text/javascript">

$(document).ready(function() {

$("#example-vertical").steps({
    headerTag: "h3",
    bodyTag: "section",
    // 动画变换形式
    transitionEffect: "slideLeft",
    stepsOrientation: "vertical"
});

})

</script>

{% endblock %}
