{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{{wtf.quick_form(form)}}

表单

<p>{{moment(current_time).format('LLL')}}</p>
<p>{{moment(current_time).fromNow(refresh=True)}}</p>

<ul id="filelist"></ul>
<br />

<div id="container">
    <a id="browse" href="javascript:;">[Browse...]</a>
    <a id="start-upload" href="javascript:;">[Start Upload]</a>
</div>

{% endblock %}

{% block scripts %}

{{super()}}

{{moment.include_moment()}}

{{moment.lang('zh-CN')}}

<script type="text/javascript" src="/static/js/plupload.full.min.js"></script>

<script type="text/javascript">
var uploader = new plupload.Uploader({
  browse_button: 'browse', // this can be an id of a DOM element or the DOM element itself
  url: '/'
});

uploader.init();

uploader.bind('FilesAdded', function(up, files) {
  var html = '';
  plupload.each(files, function(file) {
    html += '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></li>';
  });
  document.getElementById('filelist').innerHTML += html;
});

uploader.bind('UploadProgress', function(up, file) {
  document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
});

uploader.bind('Error', function(up, err) {
  document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
});

document.getElementById('start-upload').onclick = function() {
  uploader.start();
};

</script>

</script>


{% endblock %}